/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  background-color: #f6f6f5; 
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

body {
  background-color: #f6f6f5; 
  margin: 0px;
  min-height: 100%;
  cursor: crosshair;
  font-family: "Roboto", sans-serif;
  justify-content: center;

  /*hide scrollbar but allow scrolling */

  /* for Internet Explorer, Edge: */
  -ms-overflow-style: none;
  /* for Firefox: */
  scrollbar-width: none;

  overflow-y: scroll;
}

/*hide scrollbar but allow scrolling */
/* for Chrome, Safari, and Opera */
body::-webkit-scrollbar {
  display: none;
}

.content-sidebar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 0em;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-evenly;
}

.sidebar {
  flex: 1 1 25%;
  padding: 4%;
  max-width: 25ch;
  overflow: hidden;
  position: fixed;
  top: 4%;
  left: 2%;
  right: 2%;
  z-index: 0;
}

#content {
  background-color: #f6f6f5; 
  flex: 1 1 50%;
  padding: 2%;
  min-width: 230px;
  max-width: 570px;
  z-index: 1;
  border: 1px dashed #808080;		
}

@media screen and (max-width: 860px) {
  #content {
    margin: 32ch 5% 8% 5%;
  }
}

@media screen and (min-width: 861px) {
  #content {
    margin: 16ch 5% 8% 5%;
  }
}

h1 {
  font-size: 17px;
  font-weight: 500; 
  line-height: 180%;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.5em;
  font-style: italic;
}

h1 a {
  text-decoration: none;
  color: #000000;
}

.current {
  color: #808080;
}

.navElement {
  color: #000000;
}

.topnav {
  list-style: none;
  margin: 0; 
  padding: 1px;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0.25em;
  font-weight: 400;
  text-decoration: none;
  line-height: 300%;
  text-transform: uppercase;
  font-style: italic;
}

.topnav li {}

.topnav a {
  text-decoration: none;
}

.topnav a:visited {
  text-decoration: none;
}

.topnav a:hover {
  font-weight: 400;
}

.topnav a:active {
  text-decoration: none;
  color: #DC143C;
}

h2 {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  /* line-height: 300%; */
  font-style: italic;
}

h3 {
  margin: 0;
  padding: 1em;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

h3 a:link {
  color: #000000;
  text-decoration: none;
}

h3 a:visited {
  color: #000000;
  text-decoration: none;
}

p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  text-decoration: none;
  text-align: justify;
  text-justify: inter-word;
  line-height: 200%;
}

p>a {
  color: #800000;
  text-decoration: none;
}

p>a:hover {
  color: #B22222;
}

p>a:active {
  color: #DC143C;
}

hr {
  border-top: 1px solid #d3d3d3;
  border-bottom: none;
  border-left: none;
  border-right: none;
  padding: 1em;
}
