.audio-player {
  position: fixed;
  bottom: 6%;
  right: 6%;
  z-index: 0;
  text-decoration: none;
  color: #000000;
}

@media screen and (max-width: 1000px) {
  .audio-player {
    right: 6%;
    top: 270px;
  }
}

.play-button {
  border: none;
  margin: 0;
  padding: 4px;
  filter: brightness(92%);
  color: #000000;
  cursor: pointer;
  letter-spacing: 0.4px;
}

#playButtonCanvas {
  width: 100px;
  height: 100px;
  margin: 0;
}
