.concerts {
  margin: auto;
  width: 100%;
}

.container {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-align: left;
  line-height: 150%;
}

.container { 
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: row;
  gap: 2%;
  flex-wrap: wrap;
}

.date { 
  text-align: right;
  font-weight: 500;
  flex-basis: 22%;
  min-width: 50px;
  flex-shrink: 4;
}
.item { 
  flex-basis: 55%;
  min-width: 18em;
  margin: 0;
}

.venue { 
  font-weight: 500;
  font-size: 12px;
}

div.concerts p {
  font-size: 12px;
}

div.concerts p > a {
  color: #000000;
  text-decoration: none;
  font-size: 12px;
}

div.concerts p > a:hover {
  color: #B22222;
}

div.concerts p a:active {
  color: #DC143C;
}

.tab {
  margin-left: 10%;
}

