#imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f5; 
}

#coverphoto {
  margin: 6% auto;
  display: block;
  filter: sepia(20%) contrast(85%);
}
