#imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f5; 
  flex-direction: column;
  width: 85%;
  margin: auto;
}

#coverphoto {
  margin: 6% auto;
  display: block;
  width: 100%;
}
